/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#myCarousel .thumbnail {
    margin-bottom: 0;
}
.carousel-control.left, .carousel-control.right {
    background-image:none !important;
}
.carousel-control {
    color:#fff;
    top:40%;
    color:#428BCA;
    bottom:auto;
    padding-top:4px;
    width:30px;
    height:30px;
    text-shadow:none;
    opacity:1;
}
.carousel-control:hover {
    color: #d9534f;
}
.carousel-control.left, .carousel-control.right {
    background-image:none !important;
}
.carousel-control.right {
    left:auto;
    right:-32px;
}
.carousel-control.left {
    right:auto;
    left:-32px;
}
 
.carousel-indicators {
    bottom:-30px;
}
.carousel-indicators li {
    border-radius:0;
    width:10px;
    height:10px;
    background:#ccc;
    border:1px solid #ccc;
}
.carousel-indicators .active {
    width:12px;
    height:12px;
    background:#3276b1;
    border-color:#3276b1;
}
.container{
    padding-top: 15px;
    padding-bottom: 15px;
}
.padnav{
    padding-top: 0px;
    padding-bottom: 0px;
}
header{
    background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #d1d1d1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d1d1d1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#d1d1d1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#d1d1d1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#d1d1d1 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#d1d1d1 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
}
nav{
    background: #873e51; /* Old browsers */
background: -moz-linear-gradient(top,  #873e51 1%, #3b1222 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#873e51), color-stop(100%,#3b1222)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #873e51 1%,#3b1222 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #873e51 1%,#3b1222 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #873e51 1%,#3b1222 100%); /* IE10+ */
background: linear-gradient(to bottom,  #873e51 1%,#3b1222 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#873e51', endColorstr='#3b1222',GradientType=0 ); /* IE6-9 */

} 
.menulateral {
     background: #873e51; /* Old browsers */
background: -moz-linear-gradient(top,  #873e51 1%, #3b1222 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#873e51), color-stop(100%,#3b1222)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #873e51 1%,#3b1222 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #873e51 1%,#3b1222 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #873e51 1%,#3b1222 100%); /* IE10+ */
background: linear-gradient(to bottom,  #873e51 1%,#3b1222 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#873e51', endColorstr='#3b1222',GradientType=0 ); /* IE6-9 */
}
.menulateralr {
 background: #ff8e90; /* Old browsers */
background: -moz-linear-gradient(top,  #ff8e90 1%, #ff0206 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ff8e90), color-stop(100%,#ff0206)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ff8e90 1%,#ff0206 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ff8e90 1%,#ff0206 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ff8e90 1%,#ff0206 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ff8e90 1%,#ff0206 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8e90', endColorstr='#ff0206',GradientType=0 ); /* IE6-9 */

}
.menulateralv {
background: #5a7a4f; /* Old browsers */
background: -moz-linear-gradient(top,  #5a7a4f 2%, #207c01 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,#5a7a4f), color-stop(100%,#207c01)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #5a7a4f 2%,#207c01 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #5a7a4f 2%,#207c01 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #5a7a4f 2%,#207c01 100%); /* IE10+ */
background: linear-gradient(to bottom,  #5a7a4f 2%,#207c01 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a7a4f', endColorstr='#207c01',GradientType=0 ); /* IE6-9 */

}
.menulaterala {
background: #8ea8ff; /* Old browsers */
background: -moz-linear-gradient(top,  #8ea8ff 3%, #0239ff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#8ea8ff), color-stop(100%,#0239ff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #8ea8ff 3%,#0239ff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #8ea8ff 3%,#0239ff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #8ea8ff 3%,#0239ff 100%); /* IE10+ */
background: linear-gradient(to bottom,  #8ea8ff 3%,#0239ff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ea8ff', endColorstr='#0239ff',GradientType=0 ); /* IE6-9 */
}
a.list-group-item{
    color: #fff;
}
a.list-group-item:hover{
    color: #AFAFAF;
}

.mlpadd{
    padding-top: 0px;
}
.pdimg{
    padding-top: 15px; 
}
.panel-body {
padding: 0px;
}
.paddcont {
    margin-top: 10px;
}











/* ==========================================================================
   Media Queries
   ========================================================================== */

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}